In [1]:
# let's import the required librires
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
# read train test and sumbission dataset using pandas
train=pd.read_csv('C:\\Users\\KUMAR HIREMATH\\Downloads\\TRAIN (5).csv')
test=pd.read_csv('C:\\Users\\KUMAR HIREMATH\\Downloads\\TEST_FINAL.csv')
sumbission=pd.read_csv('C:\\Users\\KUMAR HIREMATH\\Downloads\\SAMPLE.csv')

In [3]:
# let's go through the all datasets
train.head()

,ID,Store_id,Store_Type,Location_Type,Region_Code,Date,Holiday,Discount,#Order,Sales
0,T1000001,1,S1,L3,R1,2018-01-01,1,Yes,9,7011.84
1,T1000002,253,S4,L2,R1,2018-01-01,1,Yes,60,51789.12
2,T1000003,252,S3,L2,R1,2018-01-01,1,Yes,42,36868.20
3,T1000004,251,S2,L3,R1,2018-01-01,1,Yes,23,19715.16
4,T1000005,250,S2,L3,R4,2018-01-01,1,Yes,62,45614.52

### Data Preprocessing

In [4]:
## drop ID and date columns wich are not important for us to train the model
train.drop(['ID','Date'],axis=1,inplace=True)

In [5]:
train.columns

Index(['Store_id', 'Store_Type', 'Location_Type', 'Region_Code', 'Holiday',
       'Discount', '#Order', 'Sales'],
      dtype='object')

In [50]:
## let's check there are any null values is test and train dataste before proceeding
train.isnull().sum()

Store_id         0
Store_Type       0
Location_Type    0
Region_Code      0
Holiday          0
Discount         0
#Order           0
Sales            0
dtype: int64

In [51]:
test.isnull().sum()

ID               0
Store_id         0
Store_Type       0
Location_Type    0
Region_Code      0
Date             0
Holiday          0
Discount         0
dtype: int64

In [6]:
### will seperate input varaible and targte varaible
inputs=['Store_id', 'Store_Type', 'Location_Type', 'Region_Code', 'Holiday',
       'Discount', '#Order']
targets='Sales'

In [7]:
train_inputs=train[inputs].copy()
train_target=train[targets].copy()

In [8]:
train_inputs.head()

   Store_id Store_Type Location_Type Region_Code  Holiday Discount  #Order
0         1         S1            L3          R1        1      Yes       9
1       253         S4            L2          R1        1      Yes      60
2       252         S3            L2          R1        1      Yes      42
3       251         S2            L3          R1        1      Yes      23
4       250         S2            L3          R4        1      Yes      62

In [9]:
# i will seperate numeric columns and categorical columns rom the data set 
numeric_cols=train_inputs.select_dtypes(include=np.number).columns.tolist()
cat_cols=train_inputs.select_dtypes('object').columns.tolist()

In [10]:
## we will scale dowm the all numeric columns using minmaxscaler on train dataset
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()

In [11]:
# fit the dataset
scaler.fit(train[numeric_cols])

C:\Users\KUMAR HIREMATH\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:323: DataConversionWarning: Data with input dtype int64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [12]:
## trainsform the numeric values using scaler.tranform
train_inputs[numeric_cols]=scaler.transform(train_inputs[numeric_cols])

In [13]:
## all categorical values converted to numeric using one hot encoding
from sklearn.preprocessing import OneHotEncoder
encoder=OneHotEncoder(sparse=False,handle_unknown='ignore')

In [17]:
encoder.categories_

[array(['S1', 'S2', 'S3', 'S4'], dtype=object),
 array(['L1', 'L2', 'L3', 'L4', 'L5'], dtype=object),
 array(['R1', 'R2', 'R3', 'R4'], dtype=object),
 array(['No', 'Yes'], dtype=object)]

In [18]:
encoded_cols=list(encoder.get_feature_names(cat_cols))
print(encoded_cols)

['Store_Type_S1', 'Store_Type_S2', 'Store_Type_S3', 'Store_Type_S4', 'Location_Type_L1', 'Location_Type_L2', 'Location_Type_L3', 'Location_Type_L4', 'Location_Type_L5', 'Region_Code_R1', 'Region_Code_R2', 'Region_Code_R3', 'Region_Code_R4', 'Discount_No', 'Discount_Yes']

In [19]:
train_inputs[encoded_cols]=encoder.fit_transform(train_inputs[cat_cols])

In [20]:
train_inputs.head()

,Store_id,Store_Type,Location_Type,Region_Code,Holiday,Discount,#Order,Store_Type_S1,Store_Type_S2,Store_Type_S3,...,Location_Type_L2,Location_Type_L3,Location_Type_L4,Location_Type_L5,Region_Code_R1,Region_Code_R2,Region_Code_R3,Region_Code_R4,Discount_No,Discount_Yes
0,0.000000,S1,L3,R1,1.0,Yes,0.024259,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1,0.692308,S4,L2,R1,1.0,Yes,0.161725,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2,0.689560,S3,L2,R1,1.0,Yes,0.113208,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
3,0.686813,S2,L3,R1,1.0,Yes,0.061995,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
4,0.684066,S2,L3,R4,1.0,Yes,0.167116,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0

In [21]:
test.head()

,ID,Store_id,Store_Type,Location_Type,Region_Code,Date,Holiday,Discount
0,T1188341,171,S4,L2,R3,2019-06-01,0,No
1,T1188342,172,S1,L1,R1,2019-06-01,0,No
2,T1188343,173,S4,L2,R1,2019-06-01,0,No
3,T1188344,174,S1,L1,R4,2019-06-01,0,No
4,T1188345,170,S1,L1,R2,2019-06-01,0,No

In [22]:
# similarly in the test dataset will drop ID and date column which is not important for us
test.drop(['ID','Date'],axis=1,inplace=True)

In [22]:
test.columns

Index(['ID', 'Store_id', 'Store_Type', 'Location_Type', 'Region_Code', 'Date',
       'Holiday', 'Discount'],
      dtype='object')

In [23]:

inputs=['Store_id', 'Store_Type', 'Location_Type', 'Region_Code', 'Holiday',
       'Discount']

In [24]:
test_inputs=test[inputs].copy()

In [25]:
## we will follow up same procedure as we did to train, seperate numeric and categorical columns
numeric_cols=test_inputs.select_dtypes(include=np.number).columns.tolist()
cat_cols=test_inputs.select_dtypes('object').columns.tolist()

In [26]:
# scale down all numeric columns of test data too
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()

In [27]:
scaler.fit(test[numeric_cols])

C:\Users\KUMAR HIREMATH\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:323: DataConversionWarning: Data with input dtype int64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [28]:
test_inputs[numeric_cols]=scaler.transform(test_inputs[numeric_cols])

In [29]:
## converting categorical variable to numeric 
from sklearn.preprocessing import OneHotEncoder
encoder=OneHotEncoder(sparse=False,handle_unknown='ignore')

In [33]:
encoder.categories_

[array(['S1', 'S2', 'S3', 'S4'], dtype=object),
 array(['L1', 'L2', 'L3', 'L4', 'L5'], dtype=object),
 array(['R1', 'R2', 'R3', 'R4'], dtype=object),
 array(['No', 'Yes'], dtype=object)]

In [34]:
encoded_cols=list(encoder.get_feature_names(cat_cols))
print(encoded_cols)

['Store_Type_S1', 'Store_Type_S2', 'Store_Type_S3', 'Store_Type_S4', 'Location_Type_L1', 'Location_Type_L2', 'Location_Type_L3', 'Location_Type_L4', 'Location_Type_L5', 'Region_Code_R1', 'Region_Code_R2', 'Region_Code_R3', 'Region_Code_R4', 'Discount_No', 'Discount_Yes']

In [32]:
test_inputs[encoded_cols]=encoder.fit_transform(test_inputs[cat_cols])

In [35]:
## import machine learning algorithm
from sklearn.ensemble import RandomForestRegressor
regressor=RandomForestRegressor()

In [36]:
## fit the model on train dataset
regressor.fit(train_inputs[numeric_cols+encoded_cols],train_target)

C:\Users\KUMAR HIREMATH\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [37]:
### after fitting the model on train dataset, will predict the values for test data
preds1=regressor.predict(test_inputs[numeric_cols+encoded_cols])

In [38]:
preds1

array([48072.61031785, 35915.42974612, 70680.59220984, ...,
       48993.47413703, 31872.82853153, 25508.71619886])

In [39]:
sumbit=pd.DataFrame({'ID':test.ID,'Sales':preds1})

In [40]:
sumbit.head()

         ID         Sales
0  T1188341  48072.610318
1  T1188342  35915.429746
2  T1188343  70680.592210
3  T1188344  33087.112632
4  T1188345  36343.630671

In [41]:
sumbit.to_csv('Sales7.csv',index=False)

In [42]:
## 2nd model which is XGBoost
import xgboost
model=xgboost.XGBRegressor()

In [43]:
model.fit(train_inputs[numeric_cols+encoded_cols],train_target)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
       importance_type='gain', interaction_constraints='',
       learning_rate=0.300000012, max_delta_step=0, max_depth=6,
       min_child_weight=1, missing=nan, monotone_constraints='()',
       n_estimators=100, n_jobs=8, num_parallel_tree=1,
       objective='reg:squarederror', random_state=0, reg_alpha=0,
       reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method='exact',
       validate_parameters=1, verbosity=None)

In [44]:
preds1=model.predict(test_inputs[numeric_cols+encoded_cols])

In [45]:
preds1

array([48856.89 , 35503.133, 69869.89 , ..., 48009.707, 31989.596,
       25885.283], dtype=float32)

In [46]:
sumbit=pd.DataFrame({'ID':test.ID,'Sales':preds1})

In [47]:
sumbit.head()

         ID         Sales
0  T1188341  48856.890625
1  T1188342  35503.132812
2  T1188343  69869.890625
3  T1188344  33417.992188
4  T1188345  36062.308594

In [48]:
sumbit.to_csv('Sales8.csv',index=False)